<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <title>The Corona Arms : Pub Quiz</title>
    <script>
        function deleteQuiz(btn) {
            var quizId = btn.data('quizid');
            $.ajax({
                url: `/rest/quizzes/${quizId}`,
                method: 'DELETE',
                success: function(result) {
                    console.log(result);
                    // Do something with the result
                    $(`#quiz-${quizId}`).remove();
                }
            })
        }
    </script>
</head>
<body>
<div layout:fragment="content" id="page_content">
    <h1>Quizzes</h1>
    <div id="quizlist" th:unless="${#lists.isEmpty(quizzes)}">
        <table class="table table-hover">
            <caption>A list of the quizzes available to play</caption>
            <thead class=".thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Rounds</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="quiz : ${quizzes}" th:id="'quiz-'+${quiz.getId().toHexString()}">
                <td th:text="${quiz.getId().toHexString()}">HEX-ID</td>
                <td th:text="${quiz.getQuizName()}">Name</td>
                <td th:text="${quiz.getRounds().size()}">Rounds</td>
                <td>
                    <button type="button" class="btn btn-danger" th:data-quizid="${quiz.getId().toHexString()}" onclick="deleteQuiz($(this))"><i class="fas fa-times-circle"></i></button>
                    <a th:href="@{/ui/host/session.html(quizId=${quiz.getId().toHexString()})}">Play</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(quizzes)}">No quizzes found!?</div>
    <div id="uploader">
        <form action="#" th:action="@{/ui/host/upload.html}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">File</label>
                <input type="file" class="form-control-file" id="file" name="file" placeholder="Your quiz file">
                <small class="form-text text-muted">You can upload JSON</small>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>
</body>
</html>