<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <title>The Corona Arms : Pub Quiz</title>
</head>
<body>
<div layout:fragment="content" id="page_content">
    <h1>Success: <div th:text="${quiz.getQuizName()}"></div></h1>
    <ul>
        <li th:text="${quiz.getId().toHexString()}">Quiz ID</li>
        <li th:text="${quiz.getRounds().size()}"></li>
    </ul>
</div>
</body>
</html>